<button class="btn btn-success d-none" (click)="openAddExpenseModal = true">Add</button>
<h6 class="text-dark mb-2">Today's Expense</h6>
<div class="scrollable-table">
    <p-table [value]="expenses" [tableStyle]="{ 'min-width': '20rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </ng-template>
        <!-- Data rows when loaded -->
        <ng-template pTemplate="body" let-expense >
            <tr>
                <td>{{ expense.date | date:'yyyy-MM-dd' }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.categoryName }}</td>
                <td>{{ expense.amount | currency:'INR':'symbol' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Edit Profile" [modal]="true" [(visible)]="openAddExpenseModal" [style]="{ width: '25rem' }" [draggable]="false"
    [position]="'center'" (onHide)="onHideModal()" >
    <app-add-expense (saveExpense)="onSaveExpense($event)"></app-add-expense>
</p-dialog>
