<form>
    <div class="form-group">
        <label for="expenseName">Expense Name</label>
        <input type="text" id="expenseName" formControlName="name">
    </div>
    
    <div class="form-group">
        <label for="expenseAmount">Expense Amount</label>
        <input type="number" id="expenseAmount" formControlName="amount" required>
    </div>

    <div class="form-group">
        <label for="expenseDescription">Description</label>
        <textarea id="expenseDescription" formControlName="description" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="expenseCategory">Expense Category</label>
        <select id="expenseCategory" formControlName="category" required>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
</form>
