<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <div class="form-group">
        <label for="expenseName">Expense Name</label>
        <input type="text" id="expenseName" formControlName="name" class="form-control">
    </div>
    
    <div class="form-group">
        <label for="expenseAmount">Expense Amount</label>
        <input type="number" id="expenseAmount" formControlName="amount" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="expenseAmount">Expense Date</label>
        <input type="date" id="expenseDate" formControlName="date" class="form-control" [max]="maxDate" required>
    </div>

    <div class="form-group">
        <label for="expenseDescription">Description</label>
        <textarea id="expenseDescription" formControlName="description" rows="3" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label for="expenseCategory">Expense Category</label>
        <select id="expenseCategory" formControlName="categoryId" class="form-select" required>
            <option>Select Category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Add Expense</button>
</form>
